@media (min-width: 320px) and (max-width: 425px) {
    nav {
        width: 83.5%;
    }
    .nav-links {
        display: none;
    }
    #home {
        margin: 30px;
        width: 500px;
        flex-direction: column-reverse;
        height: 1150px;
    }
    #profile-info,
    #profile-image {
        width: 400px;
    }
    #profile-image {
        height: 400px;
    }
    #profile-image img {
        margin-top: 5px;
        margin-left: -20px;
        height: 400px;
        width: 400px;
    }
    .square {
        margin-top: -10px;
        margin-left: -35px;
        height: 400px;
        width: 400px;
    }
    #greeting {
        width: 400px;
        font-size: 1.5rem;
        margin-left: 50px;
    }
    #profile-header {
        width: 333px;
        margin-top: 10px;
        font-size: 2rem;
        margin-left: 50px;
    }
    #profile-intro {
        width: 300px;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 1.2rem;
        text-align: justify;
    }
    #profile-narrative {
        width: 300px;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 1.2rem;
        text-align: justify;
    }
    #learn-more {
        margin-top: 30px;
        margin-left: 95px;
    }
    #skills {
        width: 500px;
    }
    #skills-description {
        width: 500px;
    }
    #skills-header {
        font-size: 2rem;
        width: 500px;
    }
    #skills-narrative{
        text-align: justify;
        width: 450px;
        font-size: 1.2rem;
    }
    #skills-cards {
        margin-top: 125px;
        width: 500px;
    }
    #cs,
    #python,
    #c-cpp,
    #html,
    #css,
    #javascript,
    #photoshop,
    #figma,
    #ms-access {
        width: 500px;
    }
    .skill-info {
        width: 295px;
    }
    #relevant-experience {
        margin: 25px;
        width: 500px;
        margin-top: 1180px;
        height: 3820px;
    }
    #experience-description {
        width: 500px;
    }
    #experience-header {
        font-size: 2rem;
    }
    #experience-narrative {
        text-align: justify;
        width: 400px;
        font-size: 1.2rem;
    }
    #relevant-experience-cards {
        margin-top: 25px;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 700px;
        width: 380px;
    }
    #education-cards {
        margin-bottom: 0px;
        height: 1800px;
    }
    #experience-cards {
        margin-bottom: 0px;
        height: 1630px;
    }
    .education-cards {
        height: 580px;
        width: 250px;
    }
    .experience-cards {
        height: 525px;
        width: 250px;
    }
    #relevant-experience-cards p.date,
    #relevant-experience-cards p.location,
    #relevant-experience-cards p.project-title {
    font-size: 1.5rem;
    }
    #circle-layer-education .circle {
        margin-bottom: 565px;
    }
    #circle-layer-experience {
        width: 46px;
        left: 0px;
        margin-top: 1820px;
    }
    #circle-layer-experience .circle {
        margin-bottom: 515px;
    }
    #contact-me {
        display: none;
    }
    #contacts {
        width: 500px;
        margin: 25px;
        border: none;
    }
    #contact-details {
        width: 500px;
        border-radius: 25px;
        border-right: none;
        border: 2px solid black;
    }
    .contact-container {
        width: 400px;
    }
    .contact-container a{
        font-size: 1rem;
    }
    #copyright {
        width: 565px;
    }
}