@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    background-color: #EFE5D8;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

a,
.btn {
    transition: all 300ms ease;
}

nav,
.logo,
.nav-links {
    display: flex;
}

#home-align {
    height: 8vh;
    border: 2px solid #EFE5D8;
    margin: 20px;
    z-index: 3;
}

nav {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 97.67%;
    border: 2px solid rgb(0, 0, 0, 0.7);
    border-radius: 100px;
    margin: 20px;
    background-color: #DDC9AE;
    box-shadow: 0 25px 20px -20px rgb(0, 0, 0, 0.4);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    animation: fade-up 500ms;
}

.logo {
    padding-left: 50px;
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;
    padding-right: 50px;
}

nav a {
    color: black;
    text-decoration: none;
    text-decoration-color: none;
    padding: 9px 25px;
    border-radius: 50px;
    transition: color 500ms ease, background-color 500ms ease;
}

nav a:hover {
    cursor: pointer;
    color: #AF6E4C;
    background-color: rgb(255, 255, 255, 0.2);
}

#home {
    position: relative;
    display: flex;
    height: 710px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    animation: fade-up 500ms;
}

#profile-info,
#profile-image {
    cursor: default;
    height: 660px;
    margin: 25px;
}

#profile-info {
    width: 1056px;
}

#profile-image {
    position: relative;
    width: 660px;
}

#profile-image img {
    border: 2px solid rgb(0, 0, 0, 0.7);
    transition: opacity 300ms ease-in-out;
}

#main-image {
    box-shadow: 25px 25px 20px -20px rgb(0, 0, 0, 0.4);
    position: relative;
    z-index: 3;
    animation: fade-up 500ms;
}

#hover-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    animation: fade-up 500ms;
}

#profile-image #main-image:hover {
    opacity: 0;
}

.square {
    position: relative;
    width: 610px;
    height: 610px;
    background-color: #DDC9AE;
    box-shadow: 25px 25px 20px -20px rgb(0, 0, 0, 0.4);
    top: 50px;
    left: 50px;
    z-index: 1;
    animation: fade-up 500ms;
}

#greeting {
    font-size: 4rem;
    margin-top: 25px;
    margin-left: 125px;
    animation: fade-up 500ms;
}

#profile-header {
    font-size: 5rem;
    margin-top: -25px;
    margin-left: 125px;
    animation: fade-up 500ms;
}

#profile-intro {
    font-size: 1.5rem;
    margin-top: -10px;
    margin-left: 125px;
    animation: fade-up 500ms;
}

#profile-narrative {
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    margin-top: 50px;
    margin-left: 125px;
    margin-right: 150px;
    transition: color 1000ms ease, transform 300ms ease;
    animation: fade-up 500ms;
}

#profile-narrative:hover {
    transform: scale(1.05);
    color: black;
}

#learn-more {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-left: 125px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    border-radius: 100px;
    background-color: #DDC9AE;
    height: 6vh;
    width: 200px;
    box-shadow: 15px 20px 20px -20px rgb(0, 0, 0, 0.4);
    transition: color 500ms ease, background-color 500ms ease, transform 300ms ease, box-shadow 300ms ease;
    animation: fade-up 500ms;
}

#learn-more:hover {
    transform: translateY(-8px);
    cursor: pointer;
    color: #AF6E4C;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 15px 22px 20px -20px rgb(0, 0, 0, 0.4);
}

#skills {
    display: flex;
    flex-direction: column;
    height: 830px;
    margin: 25px;
    margin-bottom: 0px;
    align-items: center;
}

#skills-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 215px;
}

#skills-header {
    font-size: 5rem;
    text-align: center;
}

#skills-narrative {
    margin-top: 25px;
    width: 1700px;
    text-align: center;
    font-size: 1.5rem;
}

#skills-cards {
    width: 1820px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cs,
#python,
#c-cpp,
#html,
#css,
#javascript,
#photoshop,
#figma,
#ms-access {
    display: flex;
    align-items: center;
    margin: 15px;
    height: 150px;
    width: 550px;
    background-color: #DDC9AE;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    box-shadow: 15px 20px 20px -20px rgb(0, 0, 0, 0.4);
    transition: transform 300ms ease, box-shadow 300ms ease;
}

#cs img,
#python img,
#c-cpp img,
#html img,
#css img,
#javascript img,
#photoshop img,
#figma img,
#ms-access img {
    margin: 15px;
}

.skill-info {
    width: 385px;
    display: flex;
    flex-direction: column;
}

.skill-title {
    width: 385px;
    height: 50px;
}

.skill-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.skill-bar {
    height: 14px;
    border-radius: 14px;
    border: 2px solid black;
}

.skill-per {
    height: 14px;
    background: #AF6E4C;
    border-radius: 14px;
    position: relative;
    animation: fillBars 2.5s ease-in;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    top: -40px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

#cs:hover,
#python:hover,
#c-cpp:hover,
#html:hover,
#css:hover,
#javascript:hover,
#photoshop:hover,
#figma:hover,
#ms-access:hover {
    box-shadow: 15px 22.5px 20px -20px rgb(0, 0, 0, 0.4);
    transform: translateY(-10px);
}

#relevant-experience {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 1530px;
    margin: 50px;
    margin-top: 25px;
    align-items: center;
}

#experience-description {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 215px;
}

#experience-header {
    font-size: 5rem;
}

#experience-narrative {
    margin-top: 25px;
    width: 1700px;
    text-align: center;
    font-size: 1.5rem;
}

#relevant-experience-cards {
    display: flex;
    height: 1200px;
    position: relative;
}

#relevant-experience-cards p.date,
#relevant-experience-cards p.location,
#relevant-experience-cards p.project-title {
    margin: 25px;
    margin-bottom: 0px;
    font-size: 2rem;
}

#relevant-experience-cards p.narrative {
    margin: 25px;
    margin-bottom: 0px;
    font-size: 1rem;
}

#education-cards,
#experience-cards {
    position: relative;
    padding-left: 50px;
    border-left: 2px dashed black;
    display: flex;
    flex-direction: column;
    height: 1150px;
    width: 700px;
    margin: 25px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.education-cards,
.experience-cards {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    height: 350px;
    width: 700px;
    background-color: #DDC9AE;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    box-shadow: 15px 20px 20px -20px rgb(0, 0, 0, 0.4);
    transition: transform 300ms ease, box-shadow 300ms ease;
}

.education-cards:hover,
.experience-cards:hover {
    box-shadow: 15px 22.5px 20px -20px rgb(0, 0, 0, 0.4);
    transform: translateY(-10px);
}

#circle-layer-education,
#circle-layer-experience {
    padding-left: 7px;
    position: absolute;
    height: 1175px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

#circle-layer-experience {
    right: 755px;
}

.circle {
    height: 35px;
    width: 35px;
    background-color: #AF6E4C;
    border-radius: 50%;
    border: 2px dashed black;
    margin-bottom: 350px;
}

#contacts {
    display: flex;
    margin: 50px;
    margin-top: 25px;
    height: 660px;
    border-radius: 25px;
    border: 2px solid black;
}

#contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 660px;
    background-color: #DDC9AE;
    border-right: 2px dashed black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#contact-me {
    width: 1320px;
    height: 660px;
}

#contact-title {
    margin-top: 25px;
    font-size: 2.5rem;
    text-align: center;
}

#contact-narrative {
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 1rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-container {
    font-size: 1;
    display: flex;
    align-items: center;
    margin: 25px;
    width: 400px;
    height: 75px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    border-radius: 35px;
    background-color: #DDC9AE;
    box-shadow: 15px 20px 20px -20px rgb(0, 0, 0, 0.4);
    transition: color 500ms ease, background-color 500ms ease, transform 300ms ease, box-shadow 300ms ease;
}

.contact-container img {
    margin: 5px;
}

.contact-container a {
    color: black;
    text-decoration: none;
    text-decoration-color: none;
}

.contact-container:hover {
    filter: hue-rotate(19deg);
    transform: translateY(-8px);
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 15px 22px 20px -20px rgb(0, 0, 0, 0.4);
}

.contact-container:hover a {
    color: #AF6E4C;
}

#other-contacts {
    margin: 25px;
    margin-top: 75px;
    width: 400px;
    height: 50px;
}

#contact-form {
    padding-right: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    height: 660px;
}

#fName-container,
#lName-container,
#email-container,
#number-container {
    width: 480px;
    height: 120px;
    margin-top: 50px;
}

#email-container,
#number-container {
    margin-top: 0px;
}

#fName-container label,
#lName-container label,
#email-container label,
#number-container label {
    font-size: 1.5rem;
}

#fName-container input,
#lName-container input,
#email-container input,
#number-container input {
    font-size: 1.5rem;
    height: 50px;
    width: 475px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background: none;
}

#concern-choice-container {
    margin-top: 15px;
    width: 1110px;
    font-size: 1.5rem;
}

#radio-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#message-box {
    margin-top: 40px;
    width: 1110px;
    font-size: 1.5rem;
}

#message-box input {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    height: 50px;
    width: 1110px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background: none;
}

#submit-button-container {
    display: flex;
    justify-content: flex-end;
    width: 1110px;
}

#submit-button-container button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-top: 25px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    border-radius: 100px;
    background-color: #DDC9AE;
    height: 6vh;
    width: 250px;
    box-shadow: 15px 20px 20px -20px rgb(0, 0, 0, 0.4);
    transition: color 500ms ease, background-color 500ms ease, transform 300ms ease, box-shadow 300ms ease;
}

#submit-button-container button:hover {
    transform: translateY(-8px);
    cursor: pointer;
    color: #AF6E4C;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 15px 22px 20px -20px rgb(0, 0, 0, 0.4);
}

#copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 100%;
    background: #DDC9AE;
    font-size: 1.1rem;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fillBars {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
